{% extends 'admin/model/create.html' %}


{% block body %}
  {% call lib.form_tag(form) %}
      {{ lib.render_form_fields(form, form_opts=form_opts) }}
      <div class="form-buttons">
        {{ lib.render_form_buttons(return_url, extra()) }}
          <a class="btn btn-primary btn-large" href="/admin/insuredartifactsview/new/?url=%2Fadmin%2Finsuredartifactsview%2F">Artifact Verzekeren</a>
      </div>
  {% endcall %}
{% endblock %}

<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab magnam molestiae officiis placeat quo recusandae
    totam. Assumenda deleniti perspiciatis reprehenderit tempora? Amet asperiores autem culpa fugit perferendis ratione
    sunt suscipit.
</div>
<div>Ad, deleniti dolorem doloremque eligendi enim eos est ex illo itaque modi nam, natus. Aliquam aspernatur corporis
    distinctio dolor ea est ipsa iusto, molestiae necessitatibus porro, quae sequi velit voluptate.
</div>
<div>Error, fugiat, veritatis! Ab accusantium adipisci assumenda aut blanditiis cumque debitis deserunt dicta dolor
    excepturi facere iste labore necessitatibus obcaecati odit pariatur provident quis quod quos, saepe velit vitae
    voluptates.
</div>
<div>Aliquid aperiam commodi iure maiores maxime molestiae nulla, quod velit. A ab aperiam architecto aut, consectetur
    dicta ea, enim est illo incidunt iure officiis omnis quaerat quasi quisquam, ut voluptate?
</div>
<div>A aliquid distinctio inventore, modi obcaecati omnis quae sit unde voluptatibus. A adipisci commodi, dolor dolores
    ex hic nobis non odio odit officiis possimus provident quam repellat, sed vel vitae.
</div>