<html class="no-js">
<head>
    <meta charset="utf-8">
    <base href="/">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <style>
        .order-information {
            float: left;
            position: absolute;
            top:0;
            left: 91px;
            color:orange;
        }
        article img {
            margin-top: -219px;
            margin-left: 71px;

        }

        article span {
            width: 100%;
            float: left;
            font-size:21px;
        }
    </style>
<body>

<div class="content-container">
    <img src="data:image/jpg;base64,{{ order.background }}" width="350" height="461" alt="ticket achtergrond">
    <section class="ticket-view">
        <article class="ticket">
            <div class="order-information">
                <h1>DARWIN MUSEUM</h1>
                <span>Naam: {{ order.information.firstName + " " + order.information.lastName }}</span>
                <span>Geboorte datum: {{ order.information.birthDate }}</span>
                <span>Leeftijd: {{ order.information.age }}</span>
                <span>Postcode: {{ order.information.zipCode }}</span>
                <span>Woonplaats: {{ order.information.residence }}</span>
                <span>OrderNummer: {{ order.information.ticketId }}</span>
            </div>
            <img alt="barcode" src="data:image/png;base64,{{ order.barCode }}" width="200" height="200"/>
        </article>
    </section>
</div>


</body>
</html>